{% extends "base.html" %}
{% load static %}
{% block content%}
<div class="outer-wrapper">
  {% include "panel.html" %}
  <div style="margin: 0;" class="alert alert-info" role="alert">
    {% if count_of_classes != 0 %}
      <p style="margin: 0;">Детектирование лопатки компрессора авиадвигателя выполнено успешно! Найдены следующие дефекты:</p>
      <ul style="margin: 0;">
        {% for class in class_list %}
          <li>{{ class }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p style="margin: 0;">Лопатка компрессора авиадвигателя не имеет каких-либо дефектов.</p>
    {% endif %}
  </div>
  <div class="inner-wrapper">
    <img src="data:image/png;base64, {{image_string}}">
  </div>
</div>
{% endblock content %}