<nav style="height: fit-content; border-bottom: 1px solid SteelBlue;" class="navbar navbar-expand-lg bg-white">
    <span style="margin-left: 8px;">
        <a style="background-color: SteelBlue;" class="btn btn-primary btn-lg" href="/account/upload-image/" role="button">ЗАГРУЗИТЬ ИЗОБРАЖЕНИЕ</a>
    </span>
    <span style="margin-left: 8px;">
        <a style="background-color: SteelBlue;" class="btn btn-primary btn-lg" href="/account/start-detection/" role="button">НАЧАТЬ ДЕТЕКТИРОВАНИЕ</a>
    </span>
    <span style="margin-left: 8px;">
        <a style="background-color: SteelBlue;" class="btn btn-primary btn-lg" href="/account/save-report/" role="button">СОХРАНИТЬ ОТЧЕТ</a>
    </span>
</nav>